<!DOCTYPE html>
<html class="<%= :dark if dark_mode_on? %>" data-theme="sharp">
  <head>
    <title>Aronnax Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-screen overflow-hidden" data-controller="body-height drawer" data-action="resize@window->body-height#recalculate">
    <%= render "layouts/partials/drawer/toggle" %>

    <div class="h-full overflow-y-scroll">
      <div class="container m-auto px-3 pt-4 pb-24">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/partials/bottom_nav" %>
    <%= render "layouts/partials/drawer/modal" %>
    <%= render "layouts/partials/drawer/backdrop" %>
  </body>
</html>
